<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alldemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.animation.ActImageAnimation"
            android:label="@string/app_name" />
        <activity
            android:name="com.animation.ActColorAnimation"
            android:label="@string/app_name" />
        <activity
            android:name="com.animation.ActBottomTopAnimation"
            android:label="@string/app_name" />
        <activity
            android:name="com.animation.ActRightLeftAnimation"
            android:label="@string/app_name" />
        <activity
            android:name="com.misc.NavigationBottomActivity"
            android:label="AllDemo" />
        <activity
            android:name="com.animation.ActClockwiseAnimation"
            android:label="@string/app_name" />
        <activity android:name="com.recycler.ActNewsListing" />
        <activity android:name="com.misc.IONActivity" />
        <activity android:name="com.bottomsheet.BottomSheetActivity" />
        <activity android:name="com.misc.ProgressActivity" />
        <activity android:name="com.DateTimePicker.DateTimeActivity" />
        <activity android:name="com.ChooserShareBUtton.ChooserShareActivity" />
        <activity
            android:name="com.AudioVideo.ActVideoPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name="com.AudioVideo.ActAudioActivity" />
        <activity android:name="com.misc.ActForResultDemo" />
        <activity android:name="com.misc.ResultActivity"></activity>
    </application>

</manifest>